[2021-09-27 11:34] lufeijun opened #3 "install error"
![image](https://user-images.githubusercontent.com/20056068/134900402-98df2f2e-c7b8-436a-a9b5-4bf25c472c17.png)

[2021-09-27 11:45] mateusjunges commented on #3
Hello @lufeijun
Which PHP version are you using?

[2021-09-27 11:49] lufeijun commented on #3
mac php@ 7.4.24

[2021-09-27 11:51] mateusjunges commented on #3
This package requires PHP ^8.0:
[code]

[2021-09-27 11:51] #3 closed

[2021-09-27 12:49] robertpcontreras-ts opened #4 "Support for Avro and Schema Registry"
Hi,

Thanks for creating this.

Is there any plans to implement support for avro and schema registry?

Maybe using https://github.com/flix-tech/avro-serde-php ?

Would love to start using this but the majority of our topics are serialised using AVRO and it doesn't look like this provides the ability to deserialise AVRO atm?

Kind regards

[2021-09-27 17:38] mateusjunges commented on #4
Hello @robertpcontreras-ts,
This is feature is in development process. See #5
I'm planning to release this later today or tomorrow morning.

[2021-09-28 01:56] mateusjunges commented on #4
@robertpcontreras-ts released on [v1.1.0)(https://github.com/mateusjunges/laravel-kafka/tree/v1.1.0) :smile:

[2021-09-28 12:47] pawan-khade opened #6 "Consumer not Running in Laravel"
[code]
what to add to get consumed message in this code?

[2021-09-28 13:44] mateusjunges commented on #6
Hello @pawan-khade, the message is not returned in `consume` method. You must create a `handler` class, which will be responsible for handling the message. Please, read the [configuring message handlers](https://github.com/mateusjunges/laravel-kafka#configuring-message-handlers) section of the package documentation. Basically, you create a invokable class, and use the `withHandler` method before b

[2021-09-30 11:49] #6 closed

[2021-10-08 23:54] mengguosong opened #9 "SSL Support"
Hi,

Is there any plans to support for SSL?

[2021-10-29 14:25] dilip-E2 opened #10 "Call to undefined method RdKafka\ProducerTopic::producev()"
Hello,

I am getting error " Call to undefined method RdKafka\ProducerTopic::producev() " on creating producer.
i have also installed librdkafka using command "$ apt install librdkafka-dev"

I am using below environment.
PHP : 8.0.12
OS : Linux
rdkafka : 5.0.0

Thanks,
Dilip
![Screenshot from 2021-10-29 19-54-46](https://user-images.githubusercontent.com/69678247/139452255-26108c24-1580-4cf1-8bda-

[2021-10-30 00:43] mengguosong commented on #9
Thanks!

[2021-10-30 00:43] #9 closed

[2021-10-30 06:08] mateusjunges commented on #10
Hi @dilip-E2
can you show me your code? I installed the package in a fresh laravel project and it works fine. Here is my working example:

My `ProducerController`:
[code]

Routes:
[code]

And this is the published message
![Screenshot from 2021-10-30 00-08-02](https://user-images.githubusercontent.com/19756164/139522511-88e07086-7f44-4d9f-bacb-2da1bbb239b2.png)
:

[2021-10-30 14:14] elgibor-solution commented on #10
@mateusjunges I also get same issue, below are my code

`
function publishMessage($type, $data, $whereQuery=false) {

    $headers = [
        "emr_service_id" => $this->tenantId,
        'user_id' => $this->user->id,
        'tenant_id' => $this->tenantId,
        'phone' => $this->user->phone,
        'message_type' => "TRANSACTION",
        'transaction_type' => $type
    ];

    $body = [

[2021-10-30 14:59] mateusjunges commented on #10
@elgibor-solution your code will throw an error because you are calling `send` on bool here:
[code]

You already called `send()` here:
[code]

You don't need to calll `send` twice.

Also, i still can't reproduce the `Call to undefined method RdKafka\ProducerTopic::producev()` error.

[2021-10-30 16:35] elgibor-solution commented on #10
@mateusjunges

please ignore the last "send", it's because i do debug.

The issue occured because the librdkafka version is under 0.11.4, i upgrade the version and the issue resolved.

But when i try to send, i got below error instead

`    "message": "",
    "exception": "Mockery\\Exception",
    "file": "/var/www/vendor/mateusjunges/laravel-kafka/src/Producers/Producer.php",
    "line": 74,

[2021-10-31 06:17] mateusjunges commented on #10
Hi @elgibor-solution, is it working fine right now? Anything i can help you with?
@dilip-E2 let me know if @elgibor-solution solution works out for you.

[2021-11-01 02:10] elgibor-solution commented on #10
@mateusjunges It's working fine now, thanks!

[2021-11-01 02:56] mateusjunges commented on #10
Ok. @dilip-E2 i'm closing this assuming @elgibor-solution solutions solves your problem. Feel free to reopen this or create another one if you are still experiencing issues.

[2021-11-01 02:56] #10 closed

[2021-11-01 05:31] dilip-E2 commented on #10
@mateusjunges @elgibor-solution thanks for suppoert.

Below is my ubantu version
Ubuntu 18.04.6 LTS

When i am trying to upgrade librdkafka it is giving me the latest version as 0.11.3, so is there any Ubantu version dependency for librdkafka 0.11.4?

Below is my librdkafka-dev information

$ sudo apt show librdkafka-dev
Package: librdkafka-dev
Version: 0.11.3-1build1
Priority: optional
Section: u

[2021-11-01 06:01] elgibor-solution commented on #10
@dilip-E2 I update the ubuntu into 20.04 to resolve that

[2021-11-01 12:50] mateusjunges commented on #10
@dilip-E2 i'm using version 1.2.1 on ubuntu 20.04.3 at this moment.

[2021-11-02 15:33] zensabbah opened #11 "Problem accessing protected properties of Consumed Message"
Hi Mateus, thanks for your work.
I successfully installed your package and I'm able to produce and send a message in this way:

[code]
I successfully consume the message but I cannot access the properties because they are protected in this way:
[code]

What am I missing?

Thanks in advance

P.S. This is an example of the message I consume:

[code]

[2021-11-02 16:02] mateusjunges commented on #11
Hi @zensabbah, you can use the message getters to get message properties.

Here is an working example:

This is my producer:

[code]
And this is my consumer:

[code]
This is the result `dd` gives to me:

[code]

[2021-11-02 16:57] zensabbah commented on #11
Thanks a lot Mateus!

[2021-11-02 18:03] #11 closed

[2021-11-05 17:12] renatobcj opened #13 "Facade custom options not being passed to Producer object"
Im trying to instantiate a producer with a remote kafka broker (confluent), but the custom options that im setting on the Kafka facade are not going to the final Producer class.

[code]

This throws an exception because these configOptions are not being passed to the Conf object from rdkafka. Probably because of this line:

`Junges\Kafka\Producers\Producer.php - Line 22`
[code]

Which limits the c

[2021-11-05 23:49] mateusjunges commented on #13
Hello @renatobcj, i forgot the `$this->customOptions` array merge for producer configs. Fixing it now. Thanks for your report.

[2021-11-06 00:05] mateusjunges commented on #13
@renatobcj [#38ca04](https://github.com/mateusjunges/laravel-kafka/commit/38ca04c15b1feea10c33e9865377f712a1809d40) allows you to set custom options for producers config. Released on v1.1.3. Let me know if it fixes your issue.

[2021-11-07 23:44] mengguosong commented on #9
hi,
SASL_SSL isn't Support?
my code:
`        $message = new Message(
            topicName: 'test',
            partition: 0,
            headers: ['header-key' => 'header-value'],
            body: "Message hello kafka! " . date("Y-m-d H:i:s"),
            key: 'kafka key here'
        );

        $producer = Kafka::publishOn('10.0.0.2:9093', 'test')
            ->withConfigOptions([

[2021-11-08 01:06] mengguosong commented on #9
The following code works well：
[code]

[2021-11-08 15:55] #13 closed

[2021-11-08 15:57] mateusjunges commented on #13
@renatobcj v1.2.0 should fix this problem. Please let me know if it's working well now.

[2021-11-12 15:40] thetomcake opened #15 "Topic required on KafkaProducerMessage duplicated in CanProduceMessages"
Hi Guys,

From the [documentation here](https://github.com/mateusjunges/laravel-kafka#configure-the-message-body) I constructed the following code:

[code]

This errors with `TypeError: Junges/Kafka/AbstractMessage::__construct(): Argument #1 ($topicName) not passed` as $topicName is a required constructor parameter on `\Junges\Kafka\AbstractMessage`

I can just add the topicName constructor param

[2021-11-12 15:45] thetomcake opened #16 "Broker is defined in many places rather than using the config by default"
I noticed that both of the core methods on the facade publishOn and createConsumer both have a required parameter of broker/brokers. However the config file has a brokers key but the only place this is used is in the KafkaConsumerCommand.

This doesn't seem very laravely. I would suggest that removing that broker/brokers parameter requirement and using the brokers defined in the config would make

[2021-11-12 18:19] mateusjunges commented on #15
Hello @thetomcake, first of all, thanks for your feedback on this library.
The topic name on the message is used only if you are using the `Kafka::fake()` method, to assert the a message was published specifically on the given topic. I agree with you and already fixed it to be passed to the message automatically, so you don't need to repeat the argument just to use it on tests.
About the documenta

[2021-11-12 18:20] mateusjunges commented on #16
Hi @thetomcake, i think i have already clarified your questions [here](https://github.com/mateusjunges/laravel-kafka/issues/15#issuecomment-967321458). I'm closing this and keeping #15 for now.

[2021-11-12 18:20] #16 closed

[2021-11-12 21:08] thetomcake commented on #15
No problem @mateusjunges, we're fairly new to Kafka over here, so wanted to make sure I didn't get the complete wrong end of the stick. Glad we could help, we will be using the library in some fairly large apps in the next few weeks so might throw some more PRs your way.

You've answered my issue above, thanks a lot.

[2021-11-14 22:46] #15 closed

[2021-11-14 22:48] mateusjunges commented on #15
Hello @thetomcake, i just released [v1.3.0](https://github.com/mateusjunges/laravel-kafka/tree/v1.3.0) of this package. Here's the changelog: https://github.com/mateusjunges/laravel-kafka/blob/v1.3.0/CHANGELOG.md

[2021-11-15 17:26] renatocosta opened #20 "Long term"
Hi,

Can this library read many messages per second to the same consumer for the long term?
I recently used the Supervisor to guarantee long life over consumer connections.

Best,

[2021-11-15 17:28] renatocosta opened #21 "How to use `laravel-kafka` with laravel commands"
Hi,

Is there any example of the implementation of this library for the Laravel command?

Best,

[2021-11-15 17:49] mateusjunges commented on #20
Hi @renatocosta, i normally use supervisor to run the laravel command responsible for consuming the kafka topic, to ensure the background command is always up and running.

[2021-11-15 17:52] mateusjunges commented on #21
Hi @renatocosta, i'm building and example project using this library. Will make it public as soon as it's ready, but for now, you can create a command something like this:

[code]

[2021-11-15 17:55] mateusjunges commented on #21
Hi @renatocosta, i'm building and example project using this library. Will make it public as soon as it's ready, but for now, you can create a command something like this:

[code]

[2021-11-15 18:08] renatocosta commented on #20
Thank you @mateusjunges

[2021-11-15 18:08] #20 closed

[2021-11-15 18:18] renatocosta commented on #21
Thank you again @mateusjunges

By the way, When I used Enqueue lib had a class processor to keep on reading the messages 24/7.
Is there in this library anything like that?

[2021-11-15 18:33] mateusjunges commented on #21
I think enqueue use [`queue-interop`](https://github.com/queue-interop/queue-interop) to do this. I haven't tested it so can't confirm it works with this library.

[2021-11-15 18:48] renatocosta commented on #21
That's right.
If I understand correctly the **ConsumeXKafkaTopic** class would be called manually via the command line so that reading a new message?

[2021-11-15 18:56] mateusjunges commented on #21
Yes, but i use supervisor to run the command in background for me.

[2021-11-16 17:34] renatocosta commented on #21
I don't know as you implemented it but I think that it would be a reusable class to be derived from another one.

`class ConsumeXKafkaTopic extends Command
{
    protected $signature;

    protected $description;

    protected string $topicName;

    protected $groupId;

    protected $topicConsumerHandler;

    public function handle()
    {
        $consumer = Kafka::createConsumer()

[2021-11-16 17:41] mateusjunges commented on #21
This library doesn't provide the command to consume messages, so you are free to implement it whatever way you think is better, but yeah, if all consumers looks like this, it's a good implementation.

[2021-11-16 17:45] #21 closed

[2021-11-17 23:02] renatocosta opened #24 "Idempotent"
Hello,

Does this library support idempotent?

Best,

[2021-11-17 23:05] renatocosta opened #25 "Schema registry"
Hello,

Do you already have used Schema registry?

Best,

[2021-11-23 14:39] mateusjunges commented on #24
@renatocosta i think you can just set the config option:

[code]

[code]

[2021-11-23 14:42] mateusjunges commented on #25
No, just developed the feature and added automated tests. Are you having issues with this?

[2021-11-23 16:17] renatocosta commented on #24
Thank you @mateusjunges

[2021-11-23 16:17] #24 closed

[2021-11-23 16:19] renatocosta commented on #25
No, I do not.

[2021-11-23 16:40] renatocosta commented on #25
Actually, I want to allow communications between an App and a Monolith in different tiers.
Thus, I would like to enforce a payload contract in between.

[2021-11-24 13:18] dilip-E2 opened #27 "Mockery\Exception while creating producer"
Hello,

I have created producer using below code and i am getting "Mockery\Exception".

I am using Laravel 8 and my OS is Windows 10.

Below is the code of creating producer.

[code]

![image](https://user-images.githubusercontent.com/69678247/143245605-c2fa128f-6dac-49cf-a4be-1e027aaeda88.png)

[2021-11-24 13:24] mateusjunges commented on #27
Hi @dilip-E2
The import statement of this exception is wrong and i'm fixing it now, but it means your code could not publish the message to kafka. Can you test your kafka connection using console producers/consumers?

[2021-11-25 11:55] dilip-E2 commented on #27
Hi @mateusjunges,

In console it is giving me below error about ipv6.

"1637648324.831|ERROR|rdkafka#consumer-1| [thrd:app]: rdkafka#consumer-1: localhost:9092/bootstrap: Connect to ipv6#[::1]:9092failed: Unknown error (after 2003ms in state CONNECT)
"

[2021-11-27 15:51] mateusjunges commented on #27
It means your kafka connection isn't working properly, that's why you are getting that exception. Don't know how to fix it but it may have something to do with ipv6

[2021-11-29 17:52] mateusjunges commented on #27
@dilip-E2 closing this since it's not updated in past 5 days. Feel free to reopen/create another issue or contact me if you are still facing problems

[2021-11-29 17:52] #27 closed

[2021-12-02 13:11] nickpoulos opened #32 "[QUESTION] Artisan Consume Command"
Thank you for creating this, until now the Laravel ecosystem was lacking a solid Kafka package.

I was curious how the published config file was actually used within the library.

I see there is a Kafka Consume command that is not mentioned in the documentation.  The way it is written now, this command does not know how to handle the messages it is consuming.

How do we pass a message handler into

[2021-12-02 14:24] mateusjunges commented on #32
Hi @nickpoulos

It's used to define default configurations for kafka consumers/producers.

How do we pass a message handler into this command?

You have a good point here. The way it's written now, it's impossible to pass the message handler to the artisan consumer. I think we can have a default `handler` within `config/kafka.php` but also allow to pass the class via command options, which would a

[2021-12-02 21:38] nickpoulos commented on #32
Hi @mateusjunges thanks for the quick reply. I started creating the PR, but had some questions about the `--consumer` option in the command.  How was this designed to be used originally? It seems if we can pass in a Consumer class, the handler could be set there first.

What is the purpose of the `consumer` property within the Config class?

[2021-12-02 23:27] renatocosta commented on #25
@nickpoulos Thank you for letting me know.

[2021-12-02 23:28] #25 closed

[2021-12-03 13:37] mateusjunges commented on #32
@nickpoulos actually, the `consumer` option was created to be the message handler, and this consumer must extend the `Junges\Kafka\Contracts\Consumer` class. Within `ConsumerBuilder.php`, the config class receives a `CallableConsumer` instance for the consumer option, which is created using the handler passed and the middlewares, if any. For the `KafkaConsumerCommand`, it isn't working as expected

[2021-12-03 14:07] MarceloSantosCorrea opened #33 "Installation failed"
Clean installation of Laravel

PHP Version
![Captura de Tela 2021-12-03 às 11 02 57](https://user-images.githubusercontent.com/5748703/144615197-791be8e6-c1f1-4c3e-98f0-63ccf0f166bc.png)

composer.json
![Captura de Tela 2021-12-03 às 11 03 36](https://user-images.githubusercontent.com/5748703/144615294-00d4fabc-93e6-4cf7-9e30-ee7258a0f343.png)

Error message
![Captura de Tela 2021-12-03 às 11 0

[2021-12-03 16:47] mateusjunges commented on #33
Hi @MarceloSantosCorrea, the `composer.json` file had a dependency that should not be there. I removed it and tagged [v1.4.4](https://github.com/mateusjunges/laravel-kafka/tree/v1.4.4). It should work now.

[2021-12-06 18:40] nickpoulos commented on #32
Ok that all makes sense to me for the most part.

But there also seems to be some confusion around Options/Config?

It seems like we want to be able to pass in options via the CLI command, but then if those options are not provided we want to fall back to whatever is in config.  And you started making the Options class to handle this merging?  Is that correct?  It is hard to tell because it appear

[2021-12-06 19:41] mateusjunges commented on #32
Yes, the `Options` class receives the options passed to the artisan command, and if it's not present, we should fall back to config defaults.

I think the connection option is a really good idea, so we can create connections in `kafka.php` and it decrease the number of options we need to pass via cli.

[2021-12-06 20:06] rtuin commented on #33
This works by downgrading the `guzzlehttp/psr7` package. I've created a PR here to prevent the downgrading, but it has yet to be reviewed: https://github.com/flix-tech/schema-registry-php-client/pull/66.

[2021-12-07 14:16] mateusjunges commented on #33
@rtuin fixed with release 7.5.1 of flix-tech/schema-registry-php-client. Thank you for the PR!

[2021-12-07 14:16] #33 closed

[2021-12-08 11:59] irfanpathanudr opened #39 "[QUESTION] Undefined constant `Junges\Kafka\RD_KAFKA_PARTITION_UA`"

[2021-12-08 12:38] mateusjunges commented on #39
@irfanpathanudr this constant comes from librdkafka, not this package. You need to install this library in order to use this laravel-kafka. This is the [installation guide](https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/rdkafka.installation.manual.html)

[2021-12-08 13:27] irfanpathanudr commented on #39
My PHP Version 8.0.12
![Screenshot](https://user-images.githubusercontent.com/60287388/145214967-d726c52d-4201-4292-acf9-e565f91fe6f7.png)

run commond

composer require mateusjunges/laravel-kafka

but composer show error

- mateusjunges/laravel-kafka[v1.4.0, ..., v1.4.4] require ext-rdkafka ^5.0|^4.0 -> it is missing from your system. Install or enable PHP's rdkafka extension.
    - Root composer

[2021-12-08 13:30] rtuin commented on #39
@irfanpathanudr This `phpinfo()` shows the web configuration for PHP. Some installations have a different configuration on CLI. Does `rdkafka` show up when you run `php -i` on the terminal, and which version?
You can also checked if the rdkafka extension is enabled in terminal at all by running `php -m`

[2021-12-10 05:09] irfanpathanudr commented on #39
thank you @rtuin
Call to undefined method RdKafka\ProducerTopic::producev()

![Screenshot](https://user-images.githubusercontent.com/60287388/145520546-b0790804-1452-4851-8b85-8736eba10157.png)

can you pl. help me @rtuin

[2021-12-10 06:26] nickpoulos opened #41 "[QUESTION] Error in Docs + Other Considerations for withHandler()"
I believe the docs are showing some incorrect syntax when passing around invokable classes as callables.

Ex: This will bomb because `withHandler` expects a callable, not a string

[code]

In order to work, this should be:

[code]

#### Suggestions/Thoughts

However the correct syntax is not super useful as designed.  For instance, if our handler class requires any dependencies in the constructor.

[2021-12-10 06:42] maquib commented on #39
Undefined constant "Junges\Kafka\RD_KAFKA_PARTITION_UA" error occurs

[2021-12-10 09:24] mateusjunges commented on #39
@irfanpathanudr The Call to undefined method `RdKafka\ProducerTopic::producev()` issue occured because the librdkafka version is under 0.11.4, if you upgrade it should work.

[2021-12-10 13:30] irfanpathanudr commented on #39
@mateusjunges
my requirement is to setup Kafka client and my system configuration is
Ubuntu 18.04
php 7.2,
laravel/framework: "^6.2"  for Admin,
laravel/lumen-framework": "^7.0" for API,
Rdkafka 5.0 , librdkafka 0.11.3.

ubuntu 18.4 have only supporte librdkafka 0.11.3 version mention in  bellow image or link.

![Screenshot (1)](https://user-images.githubusercontent.com/60287388/145580611-c92de242

[2021-12-10 13:47] mateusjunges commented on #39
@irfanpathanudr  It will not work on php 7.2, the minimun php version required is 8.0. About the `librdkafka` version, i can add a workaround to use the `produce` method instead, if the version is unde 0.11.4, but it will not be able to add message headers.

[2021-12-10 13:50] rtuin commented on #39
I suggest you do not run composer require with the `--ignore-platform-reqs` flag. The platform requirements defined in `laravel-kafka`'s  composer.json is meant to prevent the issues you are running into. This applies to most if not all packages.

[2021-12-10 15:43] mateusjunges commented on #41
@nickpoulos take a look at #42

I prefer to add a `withBrokers` setter here other than making `$broker` required on `createConsumer`. I made it optional because if it's already defined in `config/kafka.php`, you don't want to define it again for each consumer you create, unless it's a different broker, but that's another thing.

How do you suggest it should be implemented? If you can add some exam

[2021-12-10 18:43] nickpoulos commented on #41
Hey @mateusjunges, whoa very quick pr, much appreciated!

Yea I understand what you mean about `withBrokers`. We have struggled with that little problem as well, how to cleanly separate the server variables from the consumer variables.  But ended up dividing our config/Kafka.php into something like below.  I am still trying to see if this makes sense the way it is split up, but its worth thinking

[2021-12-11 02:24] #41 closed

[2021-12-11 02:25] #39 closed

[2021-12-11 02:51] mateusjunges commented on #39
@irfanpathanudr i've added support for `librdkafka` v0.11.3, but as @rtuin mentioned, you should not run composer with `--ignore-platform-reqs` flag. You are only running into issues because of that, and i can't support you if your system does not follow the minimun requirements needed to use this package. I closed this with #43, but feel free to reopen or create another issue after you fix your s

[2021-12-13 07:30] maquib commented on #39
@mateusjunges can you plz help me on this error is coming when am trying to send message to kafka.
Here is my code,
![Screenshot (91)](https://user-images.githubusercontent.com/35573646/145770020-f0678510-fa6f-43f9-be8d-ad36a9073550.png)

Kafka::publishOn('broker', 'topic')
            ->withBodyKey('foo', 'bar')
            ->send();

        return response('ok');

[2021-12-13 07:33] maquib opened #47 "[QUESTION] CouldNotPublishMessage exception: Sent messages may not be completed yet."
@mateusjunges  can you plz help me on this error is coming when am trying to send message to kafka.
Here is my code,
![Screenshot (91)](https://user-images.githubusercontent.com/35573646/145770525-0c15efcc-4ab4-4b36-a2de-628d7ca819d9.png)
[code]

[2021-12-13 13:12] mateusjunges commented on #47
Hey @maquib which `laravel-kafka` version are you using? The `publishOn('broker', 'topic')` was changed to `publishOn('topic', 'broker')`, with borker being optional in `v1.3.0`, so, if you are using the package with verision higher than `v1.3.0` it's trying to connect to `test_topic:9092`, which does not exist and is throwing this exception since kafka can't flush messages.

[2021-12-13 13:25] maquib commented on #47
@mateusjunges <html>
<body>

rdkafka support | enabled
-- | --
version | 5.0.2
build date | Dec 10 2021 12:21:56
librdkafka version (runtime) | 1.6.2
librdkafka version (build) | 1.6.2.255

</body>
</html>

[2021-12-13 13:30] mateusjunges commented on #47
@maquib which `laravel-kafka` do you have installed?

[2021-12-13 14:43] irfanpathanudr opened #48 "[QUESTION] Sent messages may not be completed yet."
I have this configuration:

<html>
<body>

lib | version
--|--
ubuntu os | 20.0
PHP Version | 8.0.13
rdkafka version | v5.0.2V
librdkafka version (runtime) | 1.2.1
librdkafka version (build)	| 1.2.1.255
"mateusjunges/laravel-kafka" | ^1.5

</body>
</html>

and my producer code

[code]

get error

`Junges\Kafka\Exceptions\CouldNotPublishMessage` Sent messages may not be completed yet.

[2021-12-13 15:42] mateusjunges commented on #48
Can't reproduce your error on a fresh laravel installation.

Can you test your kafka connection via console producers/consumers? (Maybe this doc](http://cloudurable.com/blog/kafka-tutorial-kafka-from-command-line/index.html) can help you with that.

[2021-12-13 18:42] maquib commented on #47
@mateusjunges I just run this command composer require mateusjunges/laravel-kafka i don't know which version it is. I think laravel-kafka version is v1.5.1 and rdkafka version is 5.0.2 and librdkafka version is 1.6.2. If this version. If the information related to the version is wrong then tell me How we will know the version?

[2021-12-13 18:46] mateusjunges commented on #47
Yeah if you didn't specified a version then you're using `v1.5.1`.
Your problem here is that you are using `publishOn('broker', 'topic'), but the syntax for `v1.5.1` is `publishOn('topic', 'broker'). So kafka is trying to connect to a broker at `topic:9092`, which does not exist, and gives you the mentioned exception.

The followint code should work fine:

[code]

Let me know if it helps.

[2021-12-14 05:33] nickpoulos commented on #41
Ah awesome! I have to catch back up on these threads in the morning.  It has been a little nuts at work between the AWS outage + Log4J.  I will check out all these new changes and leave some comments.

[2021-12-14 07:40] maquib commented on #47
@mateusjunges When we are sending message by the producer in the terminal, it is also recieving by the consumer in the terminal. But what is the problem in my code, again same error is coming which was coming before
![photo](https://user-images.githubusercontent.com/35573646/145953784-2e328585-ba21-43ca-b1e9-f9b51c10bcff.png)
![Screen Shot 2021-12-14 at 12 50 54 PM](https://user-images.githubuserc

[2021-12-14 11:53] mateusjunges commented on #47
Hey @maquib are you using the code exactly as you posted or did you replaced `broker` with your broker ip, which is `localhost:9092`?

This is a working example:

[code]

[2021-12-16 04:53] maquib commented on #47
@mateusjunges thank you
its working.

[2021-12-16 11:26] #47 closed

[2021-12-17 09:22] maquib opened #49 "[QUESTION] Exception No such configuration property: "key""
@mateusjunges can you plz help me on this error is coming when am trying to send message to kafka.

![Screenshot (94)](https://user-images.githubusercontent.com/35573646/146520889-6e558415-361d-45d5-9762-b40f2aff8f28.png)

Here is my code:

[code]

[2021-12-17 12:54] mateusjunges commented on #49
Hy @maquib it means that the `key` property does not exist in kafka. You can [check the available configuration options here](https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md). The `key` property is used in docs for example only.

[2021-12-17 14:01] irfanpathanudr commented on #48
@mateusjunges  thanks for the help me.
Thank you for creating a solid Kafka package.

[2021-12-17 14:10] mateusjunges commented on #48
I'm glad i was able to help you!

[2021-12-17 14:10] #48 closed

[2021-12-19 18:33] #32 closed

[2021-12-20 05:40] maquib commented on #49
@mateusjunges okay thank you for help

[2021-12-20 08:52] #49 closed

[2021-12-21 06:40] maquib opened #58 "[QUESTION]How to cosume a message?"
@mateusjunges Here is my producer code and this returning success but i am not able to consume the message to consumer end
[code]

Here is my consumer code but it is not working:

[code]
[code]

[2021-12-21 12:46] mateusjunges commented on #58
Hi @maquib

I found some errors in your consumer code:
- 1. The `->withHandler()` method should receive a `new Handler`, instead of `Handler::class`
- 2. If you use the consumer without the `->withMaxMessages()`, your controller will never return, since it will keep consuming messages until it throws an exception. In general, kafka messages should be consumed using background processing (like lara

[2021-12-21 16:15] maquib commented on #58
Hello @mateusjunges
I used but didn't work
For better understand Please give me a sample code

[2021-12-21 18:20] mateusjunges commented on #58
I personally never used Consumers within controllers, so i don't have a working example. I'll provide you an example project with instructions to execute it:

Go to [this repository](https://github.com/mateusjunges/laravel-kafka-example)

You need to clone it to your local machine, install the dependencies and view the readme instructions to produce/consume messages.

The `TestHandler` class is re

[2021-12-27 02:58] #58 closed

[2021-12-28 13:00] maquib opened #59 "[QUESTION]How to save consumer message in database?"
@mateusjunges Hi
i am trying to save data in database but not save in database.
[code]

[2021-12-28 14:19] mateusjunges commented on #59
Hey @maquib does the `laravel.log` file shows the received message?

[2021-12-29 04:25] maquib commented on #59
Hi @mateusjunges Yes laravel.log file shows the received message.

[2021-12-29 10:54] rtuin commented on #59
@maquib at first glance this does not relate to `laravel-kafka`.
Can you elaborate on your question/situation? What exactly do you expect your code to do, what is actually happening, and what is the minimum amount of code that you need to reproduce this issue?

[2021-12-29 10:58] maquib commented on #59
@rtuin actually I am doing produce message and consume message. I have done produce message but If I do consume message and store message into database then nothing happen

[2021-12-29 11:45] mateusjunges commented on #59
As @rtuin said, if your message appears in logs, then it's not related to this package. I'll gladly help you, but in order to do this, i need to be able to reproduce your issue.

[2021-12-29 13:15] mohdAarifkartrocket opened #60 "[QUESTION] what we are missing in consumer code?"
HI @mateusjunges we are trying to consume messages from confluent cloud's kafka cluster but we are unable to consume. we are using same credentials to publish the messges which is working fine.

This is our consumer code. please let us know what we are missing here.

`<?php

namespace App\Console\Commands;

use App\Handlers\TestHandler;
use Illuminate\Console\Command;
use Junges\Kafka\Facades\Kafk

[2021-12-30 05:20] AarifAbdal commented on #59
@maquib can you please share the consumer's code. Because I am unable to consume the messages.

[2021-12-30 07:09] mohdAarifkartrocket commented on #60
got the issue. i just send the sasl keys in ->withOptions() and its working fine.
here is the code example
`$consumer = Kafka::createConsumer()
    ->withOptions([
        'sasl.username' => 'KAFKA-KEY',
        'sasl.password'=> 'KAFKA-SECRET',
        'sasl.mechanisms' => 'PLAIN',
        'security.protocol' => 'sasl_ssl'
    ])
    ->subscribe('test-topic')
    ->withHandler(new TestHandler)

[2021-12-30 07:09] #60 closed

[2021-12-30 07:15] AarifAbdal opened #61 "[FEATURE REQUEST] support for php7. 4^ versions"
Hi @mateusjunges

Is there any plan to make this package supportive for php7. 4^ versions.

Thanks and regards.

[2021-12-30 12:50] mateusjunges commented on #60
Hey @mohdAarifkartrocket can you tell me which `laravel-kafka` you are using? This is an issue i already fixed in [#5c028bf](https://github.com/mateusjunges/laravel-kafka/commit/5c028bfd3f6588e411babe5429fa78dc89ed2a22). If it is still happening on LTS i have to take a look again.

[2021-12-30 12:54] mateusjunges commented on #61
Hi @AarifAbdal, no, currently i have no time available for rewrite this package for 7.4. It was built o solve an issue i had with kafka while working on big projects. I'm glad i'm able to help other peoples with this code, but adding php 7.4 support will take at least a week, time i don't have right now. Feel free to fork this project and release a new version with 7.4 support. I can help you if y

[2021-12-30 12:54] #61 closed

[2021-12-31 03:23] mohdAarifkartrocket commented on #60
mateusjunges/laravel-kafka v1.5.3

[2022-01-01 09:39] maquib commented on #59
@AarifAbdal
 public function handle(): void
    {
        $consumer = Kafka::createConsumer()
            ->subscribe('test-topic')
            ->withHandler(new TestHandler)
            ->withAutoCommit()
            ->withConsumerGroupId('test-consumer')
            ->build();

	$consumer->consume();
    }

[2022-01-02 21:35] mateusjunges commented on #59
Hey @maquib i still can't reproduce your issue. I'm closing this because it's definetely not related to this package.

[2022-01-02 21:35] #59 closed

[2022-01-03 10:45] maquib commented on #59
@mateusjunges issue resolved

[2022-01-03 10:45] maquib commented on #59
@mateusjunges thanks for help

[2022-01-05 16:34] DBTK1990 opened #62 "[FEATURE REQUEST] support for php 7.4"
**Is your feature request related to a problem? Please describe.**
run application on env with php 7.4

**Describe the solution you'd like**
support for php 7.4

**Describe alternatives you've considered**
run transpiler on your code to adjust it to php 7.4

**Additional context**
you can do this easily with rector/rector package
i forked your repo you can take a look ([my-forked-repo](https://git

[2022-01-06 05:18] mateusjunges commented on #62
Hi @DBTK1990
I have no plans to add PHP 7.4 support for this project, Personally i think php 8 has a much cleaner code syntax and is much easier to maintain. You can release your fork as a new version for this project, supporting PHP 7.4. If you do it, let me know and i'll pin this issue so people who wants to use this package on php 7.4 can find your code.

[2022-01-06 05:18] #62 closed

[2022-01-06 07:37] Ceater opened #63 "Installation error ext-rdkafka"
Hello, i have problem with ext-rdkafka when install..

i use PHP 8.1

i've installed librdkafka via homebrew, here is my brew info

and when in run composer require mateusjunges/laravel-kafka, i got this error

can someone help me, how to fix this error?
thx

[2022-01-06 16:09] mateusjunges commented on #63
@Ceater This package required the `ext-rdkafka` php extension. On linux, you can install it using pecl: https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/rdkafka.installation.pecl.html

[2022-01-07 03:17] Ceater commented on #63
after install sudo pecl install rdkafka, i got this error that when i search people said, i need to install librdkafka, but i already install it.

<img width="795" alt="Screen Shot 2022-01-07 at 10 16 12" src="https://user-images.githubusercontent.com/16059037/148485754-6647714d-b2aa-4ee8-a13b-37ba27847cc3.png">

[2022-01-07 15:13] rtuin commented on #63
Assuming you're using macOS, since you're referencing homebrew: you don't need to run sudo when installing PECL extensions.

I know this works on recent macOS installations:
[code]

Does this work for you?

[2022-01-08 02:19] Ceater commented on #63
librdkafka is installed on system, you can check from my 1st post. i install using this command

brew install librdkafka

while installing rdkafka without sudo, generate error permission denied.

<img width="575" alt="Screen Shot 2022-01-08 at 09 19 12" src="https://user-images.githubusercontent.com/16059037/148627898-1fc89134-759e-4ffc-bbdf-482b342f8d60.png">

[2022-01-08 14:23] Ceater opened #64 "[QUESTION] Example Project"
Hello, i wonder if someone can share their example project on how to use this project..

i tried to install on my own, but always got so many error, inside this project varible or else..

[2022-01-08 17:53] mateusjunges commented on #64
Hey @Ceater let me know if [this repo](https://github.com/mateusjunges/laravel-kafka-example) helps you

[2022-01-09 10:21] Ceater commented on #64
Hi @mateusjunges , your repo help a lot. Since this is my 1st time using laravel and kafka i don't know what to do with your project.

but i wonder, if you can guide me more from installing to using the kafka..

here is what I know.

1. How to use and run your project on cloud.
2. changing consumer and producer

and here is what i want to know more.

1. Is there any delay between consumer and prod

[2022-01-10 05:06] mateusjunges commented on #64
To be honest with you i can't really take time to help you to set up this package, but i can give you some hints:

1) As kafka is `async`, you cannot assume that there is no delay between the time when it was published and it being consumed. Kafka is often used for communication in microservices architecture, so one service do not expect a synchronous response from another. If you change the code

[2022-01-10 09:42] Ceater opened #65 "[QUESTION] How to consume with offset?"
hello, i want to know how to consume old massage inside broker?

i need to do this because i want to store data inside broker massage so the data itself will store inside kafka memory. and i need to reconsume that data as many times as possible.

[2022-01-10 10:46] Ceater commented on #64
after few tries, i manage to run your project by manually add your composer to new project compose and run composer install..
then everything run fine till now, thx.

your example project help a lot

[2022-01-10 11:04] #64 closed

[2022-01-10 11:06] mateusjunges commented on #63
Solved on #64

[2022-01-10 11:06] #63 closed

[2022-01-10 12:36] joaoccmatos opened #67 "[BUG] - Consumer not getting messages with php rdkafka extension version 6.0.0"
There has been a new release of rdkafka on 2022-01-07 and since then consumer can't process messages, producing the following error: "throwable":{"class":"Error","message":"Typed property RdKafka\\Message::$headers must not be accessed before initialization" ,"code":0,"file":"/var/www/html/vendor/mateusjunges/laravel-kafka/src/Consumers/Consumer.php:282

For everyone having the same error, you sho

[2022-01-10 13:11] mateusjunges commented on #67
Good morning @joaoccmatos
Actually it is not a bug, since `laravel-kafka` supports `ext-rdkafka` versions `^4.0^ and `^5.0`. There is a PR open to add support for `v6.0`, and i'm currently building the test images on docker for that version. Thanks!

[2022-01-10 13:11] #67 closed

[2022-01-10 16:09] mateusjunges commented on #65
this package does not provide a way to change the consumer offset manually. You can use the `offset_reset` equals to `earliest` configuration option to start consuming at the first message published at a given topic.
Also, kafka isn't like a database, so i really don't recommend you to store data in kafka. You can store what you need in the database while processing kafka messages, so you don't ne

[2022-01-10 18:04] mateusjunges commented on #67
@joaoccmatos released on [v1.6.0](https://github.com/mateusjunges/laravel-kafka/tree/v1.6.0)

[2022-01-11 02:48] Ceater commented on #65
hmm, ok thanks for answer..
i wonder if we can access old massage.

[2022-01-11 02:48] #65 closed

[2022-01-18 18:20] egorpopov opened #68 "[QUESTION] How to log all events, consumer/producer message etc?"
I want to log all messages to a file, as well as messages that were processed with an error

[2022-01-18 18:30] mateusjunges commented on #68
Hey @egorpopov can you add a description with what you want to do and add more context? Thanks!

[2022-01-18 18:38] egorpopov commented on #68
Hey @mateusjunges added description, hope it's a little clearer

[2022-01-18 18:55] #68 closed

[2022-01-20 18:03] nickpoulos opened #69 "[BUG] Missing SASL Config Due to String Casing"
**Describe the bug**
I was trying to debug why my SASL configs were not being loaded.   Everything looked correct, except the `usingSasl()` function below was still returning false.  This was because it checks specifically for uppercase strings, whereas our config was in  lowercase.

[code]

Because Kafka itself seems to understand the lowercase `sasl_plaintext` values, I suggest we change the fun

[2022-01-20 19:52] rtuin commented on #69
Makes sense to me!

[2022-01-20 20:50] #69 closed

[2022-01-20 20:51] mateusjunges commented on #69
@nickpoulos @rtuin released on v1.6.1. I'll add this to v1.4.x and v1.5.x later today.

[2022-02-11 18:04] shazaman23 opened #74 "[QUESTION] Offset Commit - Clarification"
I'm just getting started with this package. I've gone through the documentation and parts of the code surrounding consuming a message and using committers. From other research into librdkafka, I know that under the covers the offset committal process is controlled by a background thread so there is a chance that an offset could be committed to kafka before the message was successfully consumed. i.

[2022-02-11 18:18] shazaman23 commented on #67
As a note on this, I was getting this error with my implementation of rdkafka (v6.0.0) and I found that I only get this error when the headers object in kafka is empty `{}`. When I had any header set, the message comes through on the consumer just fine.

[2022-02-15 12:59] mateusjunges commented on #74
Hi @shazaman23, sorry for my late response i'm having a really busy week. Your explanation is correct. When you enable auto commit, the kafka consumer commits the offset periodically when polling batches

[2022-02-16 13:51] therealsqvad opened #75 "[BUG] CONFWARN on consumer with auto.offset.reset"
**Describe the bug**
CONFWARN occurs when starting $consumer->consume();

**To Reproduce**
Steps to reproduce the behavior:
1. Start consumer with option `auto.offset.reset`
[code]
2. We get the warning "Configuration property auto.offset.reset is a consumer property and will be ignored by this producer instance". But we did not launch a producer, only a consumer
3. We get the warning "Configurati

[2022-02-16 17:07] mateusjunges commented on #75
Hey @therealsqvad, i've created a pr to fix some issues i found while reading this.

Since you passed the `compression.codec` via `withOptions` method, it is intended as a custom option, and it is passed to the consumer builder. The problem is that the consumer creates a new producer to send messages to the dead letter queue, and the producer was being created with the same config options. I added

[2022-02-16 18:57] dbfun opened #77 "[BUG] Sasl not working due to error in code"
**Describe the bug**

Can't send message if listener uses SSL. Log message contains hint "**connecting to a SSL listener?**":

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Run PHPUnit test with SSL Kafka listener:

[code]

This test fails because Sals authentication failed.

**Expected behavior**
This test passed.

**How to fix it**

Patch ProducerBuilder:

[code]

**Desktop (plea

[2022-02-16 22:24] #75 closed

[2022-02-16 23:02] #77 closed

[2022-02-16 23:03] mateusjunges commented on #77
Hey @dbfun i just patched a fix for this bug. Will be released within the next hour. Thanks for reporting.

[2022-02-17 05:21] therealsqvad commented on #75
@mateusjunges Thank you

[2022-02-19 20:03] mateusjunges commented on #74
@shazaman23 i'm closing this but feel free to reopen or create a new issue if you still have any questions. Thank you!

[2022-02-19 20:03] #74 closed

[2022-02-20 15:59] lanied opened #80 "[QUESTION] Undefined constant Junges\Kafka\RD_KAFKA_PARTITION_UA"
Hi, I get this error
![image](https://user-images.githubusercontent.com/48638777/154851725-b9c48a83-4ccb-45ee-86ea-81fe016095bd.png)

![image](https://user-images.githubusercontent.com/48638777/154851533-cf5850c3-6efe-44f8-84cc-7dee6a7efd00.png)

i'm using this rdkafka version
![image](https://user-images.githubusercontent.com/48638777/154851635-453169d3-edd2-4a86-bd31-ba77987a98e4.png)

my s.o ub

[2022-02-20 23:44] lanied commented on #80
sorry i solved it

I had not configured the extension in php-fpm config.

[2022-02-20 23:44] #80 closed

[2022-02-21 07:57] AarifAbdal commented on #61
Hi @mateusjunges can you please guide me what type of changes I have to made to make it working for php7. 4

[2022-02-28 05:05] dbfun opened #81 "[BUG] incorrect configuration setting in KafkaConsumerCommand"
**Describe the bug**
The KafkaConsumerCommand class uses the value `kafka.group_id`, although it is defined as `kafka.consumer_group_id` in the configuration file `kafka.php`.

**How to fix**
Need to replace this part of the code in KafkaConsumerCommand

[code]

to this line

[code]

[2022-02-28 23:50] #81 closed

[2022-02-28 23:53] mateusjunges commented on #81
@dbfun released on [v1.6.4](https://github.com/mateusjunges/laravel-kafka/releases/tag/v1.6.4)

[2022-03-10 06:54] GaleHuang opened #84 "[QUESTION]Failed to create thread: Operation not permitted (1)"
[2022-03-10 11:27:29] server.ERROR: Failed to create thread: Operation not permitted (1) {"request-id":"request-62297021531bd","user":"","exception":"[object] (RdKafka\\Exception(code: 0): Failed to create thread: Operation not permitted (1) at /app/server/vendor/laravel/framework/src/Illuminate/Container/Container.php:917)
[2022-03-10 11:27:29] server.ERROR: exception happened {"request-id":"requ

[2022-03-10 23:10] mateusjunges commented on #84
HEy @GaleHuang please describe your issue. I can't debug it without knowing what you were trying to achieve when you got this error.

[2022-03-14 21:20] mhbm opened #85 "[QUESTION] Problem in producer"
I need to producer message in Kafka, but I need to get SASL OAuth and I need to pass a Certificate.

I tried to use but always returns error.

SSL handshake failed: error:1416F086:SSL routines:tls_process_server_certificate:certificate verify failed: broker certificate could not be verified, verify that ssl.ca.location is correctly configured or root CA certificates are installed (brew install ope

[2022-03-21 13:33] mateusjunges commented on #85
@mhbm sorry for my late response. Can you please add the code you are using, so i can reproduce your issue?

[2022-03-22 19:59] juliancms opened #89 "[FEATURE REQUEST] Mocking Kafka consumer"
Are you planning on adding helpers for mocking the kafka consumer?

[2022-03-22 20:22] mateusjunges commented on #89
Its on my roadmap,but i'm really busy this past weeks, so i really don't have time to do at least for the next month. Feel free to submit a PR implementing this feature if you want to.

[2022-04-01 14:52] daavelar opened #90 "[QUESTION] How can I set an option in kafka:consume command"
Hi, i want to change some option for specific topic, should I put the directive in config or i can pass some flag to the command?

[2022-04-06 04:45] mateusjunges commented on #90
@daavelar the config does not provide an option to customize topics individually. Can you share which options you want to change?

[2022-04-06 04:45] mateusjunges commented on #85
Closing this due to lack of updates.

[2022-04-06 04:45] #85 closed

[2022-04-25 02:36] nmfzone opened #94 "[BUG] withDlq without specifiying name, raise an error"
If we're configuring DLQ with below syntax (from the docs):

[code]

It would raise an error

[code]

Package version 1.7.3

[2022-04-25 12:07] mateusjunges commented on #94
Hi @nmfzone the docs are wrong actually. You can't specify a DLQ without subscribing to any topics. I will fix it asap. Thanks for reporting.

[2022-04-25 12:52] mateusjunges commented on #94
@nmfzone fixed in v1.7.4. I've also updated the docs: https://junges.dev/documentation/laravel-kafka/v1.7/consuming-messages/5-configuring-consumer-options

Thank you!

[2022-04-25 12:52] #94 closed

[2022-04-25 12:58] nmfzone commented on #94
Awesome, thank you. That was fast :)

[2022-04-28 21:17] daavelar opened #96 "[QUESTION] Is possible to publish and consume messages in Aws MSK with SASL enabled?"
Hi, i'm trying to publish a message to an AWS MSK broker using SASL authentication with SCRAM mechanism, but i'm getting the message "Sent messages may not be completed yet." as response. Below you can see my code:

[code]

Am I missing something or there is some new feature needed to publish in AWS MSK?

[2022-04-29 12:29] rtuin commented on #96
@daavelar Publishing (and) to MSK with SASL/SCRAM works fine.
Not sure if directly related, but as far as I know MSK uses `SCRAM-SHA-512`. The error message would be confusing if this is the problem you're facing, though.

[2022-04-29 17:41] daavelar commented on #96
I got it publishing the message, but for consuming i'm still having an issue, i'm using KafkaConsumerCommand and i have included the sasl and securityProtocol info in the config file:

**Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 159ms in state AP

[2022-04-29 17:46] daavelar commented on #96
I think I will need to build the kafka extension with the SSL support enabled:
https://github.com/confluentinc/confluent-kafka-go/issues/411

[2022-04-29 18:59] daavelar commented on #96
I found out here what the problem was, even with the flag --securityProtocol=SASL_SSL, the consumer was using the default SASL_PLAINTEXT value because the parameter was missing in the getSasl() method of the Options class, i change the method to this and worked:
[code]

[2022-04-29 20:05] mateusjunges commented on #96
@daavelar can you make a PR?

[2022-05-02 02:04] #96 closed

[2022-05-02 02:05] mateusjunges commented on #96
@daavelar fixed on v1.7.5. Please let me know if it solves your issue

[2022-05-02 19:44] daavelar commented on #96
Solved! Thanks a lot!

[2022-05-04 17:14] #90 closed

[2022-05-10 14:57] K2ouMais opened #98 "[QUESTION] Messages are not been sent"
Hello there,

I am using a docker-compose file to have a local Kafka container.

docker-compose:
[code]

On my Laravel project I set in the .env the KAFKA_BROKERS as following:
[code]

I did go to Kafdrop and opened a new topic:
http://localhost:9000
topic = test

This is the code in my controller to do some tests:
[code]

It seems that I always get an Exception with the following error:
[code]

T

[2022-05-11 06:02] kazemimorteza68 commented on #98
have you installed and enabled librdkafka on your machine ?

Please try this code :

`

            $posts =["id"=>random_int(1000,10000),"password"=>Factory::create()->password,"email"=>Factory::create()->email,
                        "name"=>Factory::create()->name];

        $producer=Kafka::publishOn('new_users', 'localhost:9092');
        $message = new Message(
            headers: ['header

[2022-05-11 09:53] AdrianoRamalho21 opened #99 "[QUESTION] - Custom Offset storage"
Quick question, is it possible to save the offset by consumer in, for example, Redis or DB?
And, when the broker shuts down and comes back up, is it possible to tell the consumer to start consuming messages from that specific offset?

Let's say I have a laravel Artisan command that builds the following consumer :

[code]

My problem now is that, from time to time, the "fake-broker.com:9999" shuts

[2022-05-11 12:44] mateusjunges commented on #99
Hi @AdrianoRamalho21 to be honest i've never had this use case, but from what i know about kafka, you typically starts either from earliest or the latest offset. If the consumer crashes, then all partitions of the crashed consumer will be reset to the last commited offset, and all messages arrived since the last commit will be read again. Kafka ensures `at least once` delivery, which means that no

[2022-05-11 13:10] mateusjunges commented on #98
Hi @K2ouMais, I tried using the docker compose file and indeed I get the same error. I don't know exactly what's wrong and currently i don't have time to debug it, but you can try with [this one][dc-compose] which works for me.

[dc-compose]: https://free.keep.sh/2Snd0kedxRaPGDCC/docker-compose.yml

[2022-05-16 12:55] mateusjunges commented on #99
@AdrianoRamalho21 sorry for the delay, i was very busy at work this past days. Currently, consuming from specific offset is no possible, since it is not implemented yet. I will take a look at this and possibly implement as a new feature, but don't expect it for the next few days.

[2022-05-16 12:56] mateusjunges commented on #98
@K2ouMais i'm closing this since there is no more updates. Please feel free to reopen this issue or create a new one if your issues is not solved yet.

[2022-05-16 12:56] #98 closed

[2022-05-16 13:04] AdrianoRamalho21 commented on #99
@mateusjunges no problem ;) Thank you, and I think it will be a useful new feature, in some particularly/specific cases.

No need to rush it tho :D

Thanks one more time, and you may close this issue.

Good work and have a nice day

[2022-05-16 13:06] #99 closed

[2022-05-25 15:12] StounhandJ opened #102 "[QUESTION] Batch messages consumer"
Hi, I couldn't figure out what was going on and therefore I want to ask directly. Thank you in advance for the answer.

1. I decided to test a new function with the return of event packets, but for some reason the delay between them does not work.
As you can see, 10 seconds are set, and as a result, there is a delay of 1 to 4 seconds
[code]
[code]

2. The second question. If I do this, I expect th

[2022-05-30 16:00] vsvp21 commented on #102
@StounhandJ Hi, sorry for my late answer. Batch is released if and only if withBatchSizeLimit is reached or when withBatchReleaseInterval exceeded. According to documentation "The example below shows that batch is going to be handled if batch size is greater or equals to 1000 or every 1500 milliseconds.". I think there is no need to create a batch for 2 messages, so if you try to put batch site as

[2022-05-30 17:21] #102 closed

[2022-05-30 17:23] mateusjunges commented on #102
Thank you @vsvp21 :heart:

[2022-05-31 15:50] MohammedGoud opened #105 "When create a producer"
Unsupported value "snappy" for configuration property "compression.codec": snappy not enabled at build time

[2022-06-01 13:49] mateusjunges commented on #105
Hi @MohammedGoud, can you give me more context? Also, please provide the version of this package and the version of librdkafka that you are using·

[2022-06-03 13:26] mateusjunges commented on #105
@MohammedGoud `compression.codec` is a producer property. It will be will be ignored by the consumer

[2022-06-09 19:21] mateusjunges commented on #89
Hey @juliancms, please have a look at #107 and let me know your thoughts on it.

[2022-06-10 14:50] juliancms commented on #89
@mateusjunges it looks good for me, thank you very much for notifying

[2022-06-10 14:50] #89 closed

[2022-06-10 20:19] mateusjunges commented on #105
Closing this due to lack of updates. Feel free to reopen it or create a new issue if your problem persists.

[2022-06-10 20:19] #105 closed

[2022-06-20 09:56] grunk opened #113 "[QUESTION] Getting "Unsupported value "snappy" for configuration property "compression.codec" while creating a consumer"
Hi @mateusjunges , i have the same error as #105 but when creating a consumer :

[code]

I'm using the following versions (on windows 11) :

laravel-kafka : 1.8.1
rdKafka :  6.0.1
librdkafka version (runtime) : 1.6.2
librdkafka version (build) :| 1.6.2.255

I tried to change the KAFKA_COMPRESSION_TYPE option to "none" or "gzip" without any success.

Note that by following the [high level consumer

[2022-06-22 17:52] mateusjunges commented on #113
Don't know why but I'm not able to reproduce this nor #105

[2022-06-22 18:26] grunk commented on #113
Thanks for your answer.
I'm not sure that the build of librdkafka is at fault here as i manage to consume my message with php-rdkafka.

To be honest, i'm in a kind of special dev environment.
Apache/PHP on windows and Kafka running on an other windows machine with docker. Not really representative of production  , maybe this is why i have this kind of error.

For now i'm using php-rdkafka directly

[2022-06-29 20:03] vahidalvandi opened #114 "[QUESTION] Have huge messages"
Hi . I have huge message in second  like 10000  queue how I can use this package for insert db ?

[2022-06-29 23:26] mateusjunges commented on #114
Hi @vahidalvandi can you please describe better your problem? I don't know exactly what you want.

You can insert data into the database normally like in any other part of the application, just need to call your model inside your consumer.

[2022-06-30 01:24] vahidalvandi commented on #114
I have microservice crypto currency it build very huge data in second like 1000 or 100000 event in second .
Do laravel kafka handle it in dB insert ?

[2022-07-01 12:35] 3xc3ption opened #116 "laravel/kafka compatible with lumen 8.+?"
Hi,

is the package laravel/kafka also compatible with lumen 8.+? If so, what adjustments do I have to make so that the package also runs under lumen?

Best regards
3xc3ption

[2022-07-01 12:57] mateusjunges commented on #116
Hi @3xc3ption TBH with you I have not tested it with Lumen. Also, laravel itself do not recommend to start new projects using Lumen.

From lumen docs:

[2022-07-01 13:02] mateusjunges commented on #114
You can use database features inside Kafka consumers like in any other part of your application. This package will only consume messages from the topics you specify in your consumer configuration, so you can save it to the database or do whatever you want with the event being consumed.

[2022-07-01 13:12] 3xc3ption commented on #116
Hi @mateusjunges,

thanks for the fast response and the note, that explains my problems with lumen ur awesome package.
:+1:

[2022-07-05 06:17] K2ouMais opened #117 "[QUESTION] It seems I cant dispatch jobs."
Hello there,

I am consuming through a Laravel Command, like this...

[code]

If I use it this way I can see in the logs that it is consuming the same message over and over again.

I would expect it to dispatch as a job and try the next message, but it seems it isnt the case.

Here is the output of my log file:

[code]

Do you have an idea, what is wrong, that I cant use the Queue?

Without dispat

[2022-07-05 13:24] mateusjunges commented on #117
Hi @K2ouMais, I can't reproduce this in my local environment.

You can check [this repo](https://github.com/mateusjunges/test-use-queue-inside-kafka-consumer) with the code I used.

I've  created a fresh laravel installation, installed laravel-kafka, created a new consumer and a new job to dispatch within that consumer. It works as expected with sync, database and redis queue connections.

[2022-07-06 15:47] K2ouMais commented on #117
Dont know why, but I was having some kind of problem in the job constructor (without any error or exception), that would break getting the job into the queue.

After I changed some code and put the code that was in the constructor in the handle method, everything works again without a problem.

Sorry for the alert, but I didnt get any errors or exceptions and didnt know why it wasnt working.

Than

[2022-07-06 15:48] mateusjunges commented on #117
No problem, I'm glad that you solved it.

[2022-07-06 15:48] #117 closed

[2022-07-20 12:00] janpadiz commented on #39
local.ERROR: Undefined constant "Junges\Kafka\RD_KAFKA_PARTITION_UA" {"exception":"[object] (Error(code: 0): Undefined constant \"Junges\\Kafka\\RD_KAFKA_PARTITION_UA\" at /var/www/html/smartplement-asset/vendor/mateusjunges/laravel-kafka/src/AbstractMessage.php:9)

Hi, im getting the same error while on Ubuntu 18.4 using build 1.6.6

![image](https://user-images.githubusercontent.com/74308287/179

[2022-07-20 18:11] murilofurquim commented on #113
In the function below is fixed "snappy" instead of reading from the config KAFKA_COMPRESSION_TYPE.

[code]

[2022-07-21 22:07] daavelar opened #120 "[BUG] stopAfterLastMessage not working"
I'm calling the method stopAfterLastMessage() on the consumer building but the consumption don't stop.

I'm on ubuntu 22.04, running php 8.1 with rdkafka 6.0.3, laravel-kafka:1.8.1.

I check the code and in line 349 we have this:
`        if ($this->config->shouldStopAfterLastMessage() && RD_KAFKA_RESP_ERR__PARTITION_EOF === $message->err) {
`
RD_KAFKA_RESP_ERR__PARTITION_EOF equals -191 but $mess

[2022-07-21 23:58] mateusjunges commented on #114
Closing this due to lack of updates.

[2022-07-21 23:58] #114 closed

[2022-07-22 23:20] mateusjunges commented on #120
Hi @daavelar I'm returning from my vacation trip today, I'll check this issue tomorrow. Thanks for reporting.

[2022-07-24 18:31] 6gds commented on #113
Can you tell me file and path where i must insert this code?

[2022-07-25 12:37] murilofurquim commented on #113
The path is _vendor/mateusjunges/laravel-kafka/src/Config/Config.php_. But you dont need to insert this code, what I meant is that this code is wrong because of the line
`'compression.codec' => 'snappy',`
This line should be something like `'compression.codec' => env(KAFKA_COMPRESSION_TYPE, 'snappy'),`.
So on Windows we changed to `'compression.codec' => 'none',` temporarily so that our developers

[2022-07-28 03:16] mateusjunges commented on #120
Hey @daavelar can you provide your consumer code so I can reproduce this issue?

[2022-07-28 22:14] daavelar commented on #120
The documentation example it's good enough:

[code]

[2022-08-01 19:23] mateusjunges commented on #120
@daavelar can you try the #121 and let me know if it solves your issue please?

[2022-08-02 16:34] daavelar commented on #120
Not working, still not entering on the if below, because RD_KAFKA_RESP_ERR__PARTITION_EOF = -191 and $message->err = -185

[code]

[2022-08-02 16:36] mateusjunges commented on #120
Thanks, I'll work on it today after office hour.

[2022-08-02 18:04] #120 closed

[2022-08-02 19:07] mateusjunges commented on #120
Released on v1.8.3. Please let me know if it solves your problem.

[2022-08-02 19:17] #113 closed

[2022-08-02 19:18] mateusjunges commented on #113
Hey folks, I've just merged a PR to fix this. Now, instead of the hardcoded `snappy` compression type, this library uses the one defined in the `compression` key of the `kafka.php` configuration file. Please let me know if it really solves this issue.

[2022-08-02 22:15] daavelar commented on #120
It Worked here! Tks!

[2022-08-05 09:19] 3xc3ption opened #124 "Compatible Azure Event Hub Deployment"
Hi @mateusjunges ,

is the package also suitable for use in the Azure World (Event Hub)?
[event-hubs-for-kafka](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-for-kafka-ecosystem-overview)
Are there any empirical values?

Best regards
3xc3ption

[2022-08-05 11:59] 3xc3ption commented on #124
Ok, i tried it out. It works fine  👍
`Kafka::publishOn('topic')->withSasl(new \Junges\Kafka\Config\Sasl(
password: 'Endpoint=sb://urlto.servicebus.windows.net/;SharedAccessKeyName=sas-user;SharedAccessKey=<key>;EntityPath=topic',
username: '$ConnectionString',
mechanisms: 'PLAIN',
securityProtocol: 'SASL_SSL');`

[2022-08-05 11:59] #124 closed

[2022-08-10 22:27] francoisauclair911 opened #125 "[QUESTION] Commit and Error Handling"
Hi,
I am wondering how does the `autoCommit()` feature works with the message handler if it throws an error?
Given I have the following, if I run the command, the error is thrown alright, but if I restart the command I don't see the "failed" message being reprocessed.

I think I'm missing a piece of the puzzle here

Thank you!
[code]

[2022-08-13 18:40] mateusjunges commented on #125
Hi @francoisauclair911 sorry for my late response, I'm switching jobs right now and due to that I'm having a really busy week.

Answering your question:

When `auto-commit` is enabled, Kafka will auto commit the messages in a specified time interval. If the message consumption fails, it will try to commit to DLQ (if you have it enabled). Otherwise, the message will be commited as if it was success

[2022-08-14 08:45] smortexa opened #126 "[BUG] Cannot declare class `App\Console\Kernel`, because the name is already in use"
Hi, I'm using [laravel-opcache](https://github.com/appstract/laravel-opcache) and [laravel-octane-dockerfile](https://github.com/exaco/laravel-octane-dockerfile) with Laravel Octane. Before starting the server and after running `php artisan compile` command to pre-compile application code (includes `vendor` directory), the following error will be thrown:

[code]

I tried to exclude `vendor/mateusj

[2022-08-15 09:48] tharyono opened #127 "[QUESTION] Support SSL Authentication for Consumer?"
Hi,

Is there any support or example for SSL authentication for consumer? So far I only found example for producer in this issue
https://github.com/mateusjunges/laravel-kafka/issues/9

[2022-08-15 18:43] mateusjunges commented on #126
It happens because I declares a `Kernel` class to be used during integration tests. I'll look into this asap. Thanks for reporting.

[2022-08-15 20:15] mateusjunges commented on #125
I'm closing this due to lack of updates. Feel free to reopen or create a new issue if I have not answered your question.

[2022-08-15 20:15] #125 closed

[2022-08-15 22:56] gajosu commented on #127
Hello, you can use the `withSasl()` method to set ssl authentication for both consumer and producer

for example:
[code]

[2022-08-16 18:59] smortexa commented on #126
@mateusjunges I can confirm that the problem is gone. Thanks.

[2022-08-16 20:53] #126 closed

[2022-08-16 20:58] mateusjunges commented on #127
Thank you @gajosu.

[2022-08-16 20:58] #127 closed

[2022-08-16 21:00] mateusjunges commented on #126
Thank you @smortexa. Released on v1.8.5

[2022-08-17 06:00] smortexa commented on #126
@mateusjunges Sorry, but in production, we faced this error again:
[code]

[2022-08-17 06:15] smortexa commented on #126
May I send a PR with `stub` files?

[2022-08-19 00:43] mugisham opened #131 "Improve consumer documentation"
Could a concrete example of how the consumer is used and how to use the Kafka: consume command be added?
Looking at the code isn't getting me there and the examples don't really show how the actual Class structure will be arranged. A good example would be something like the one in the laravel docs: https://laravel.com/docs/9.x/queues. It shows the commands and how they come together with a sample

[2022-08-22 14:06] riccardobosini opened #132 "[BUG] Timeout ms issue"
**Describe the bug**
I created a producer and a consumer in the same project for the same topic.
The producer works.
The consumer fails due to a timeout.
I found out that the timeout is hard-coded here: `vendor/mateusjunges/laravel-kafka/src/Consumers/Consumer.php` at line 150.

[code]
I changed it to `5000` and the consumer started working.

I suggest to make this value configurable, to adjust it

[2022-08-22 14:11] riccardobosini opened #133 "Missing `$consumer->consume` from consumer documentation"
**Describe the bug**
Reading the documentation I found out that at this [link](https://junges.dev/documentation/laravel-kafka/v1.8/testing/7-mocking-your-kafka-consumer) the `$consumer->consume()` command is missing (almost at the end of the script).

[code]

[2022-08-22 20:10] #132 closed

[2022-08-22 20:13] mateusjunges commented on #132
Fixed. It is now configurable using the key `consumer_timeout_ms`, in the `config/kafka.php` file. Released on v1.8.7

[2022-08-23 13:42] francoisauclair911 commented on #125
Hi @mateusjunges  thanks for the reply.

I'm new to Kafka so pardon my ignorance. My understanding would be that the messages would stay in the topic stream as long as they haven't be acknowledge by the consumer. But from what you are telling me if the consumer is down for a period of time it will still get the messages when back online but only if he fails to process them (via throwing error) the

[2022-08-24 11:28] riccardobosini opened #135 "[BUG] Unable to set some configurations"
**Describe the bug**
I think [this](https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md) is the official list of available configuration for brokers, topic, consumers and producers.
Each configuration accepts a different kind of value: `string`, `integer`, `boolean`, `float`, `closure`.
The `->withConfigOption` method accepts as value only `string`.

**To Reproduce**
Steps to repro

[2022-08-24 14:48] mateusjunges commented on #135
Hey @riccardobosini check #136 please. I'm still thinking in a decent way of implementing tests for this.

[2022-08-24 17:53] #131 closed

[2022-08-24 17:53] #133 closed

[2022-08-24 17:58] mateusjunges commented on #131
Please check this link https://junges.dev/documentation/laravel-kafka/v1.8/consuming-messages/9-class-structure

[2022-08-26 08:06] tharyono opened #138 "[QUESTION] Example Using Custom Commiter"
Hi, thanks for creating this package. I'm using this and works great so far. But I'm having difficulty to find some example for using custom commiter in this documentation
https://junges.dev/documentation/laravel-kafka/v1.7/advanced-usage/4-custom-committers

Can you help to give code example for using this method?

[2022-09-02 13:19] cmsedore opened #139 "[QUESTION] Error creating a Kafka consumer"
Hi,

I'm having some trouble with the createConsumer facade: what am I getting wrong here?  The first is a cut and paste from the docs, the second is an attempt to supply what the first is asking for...

[code]
[code]

[code]
[code]

[2022-09-03 21:41] mateusjunges commented on #138
Hey @tharyono what's your use case for custom commiter exactly?

[2022-09-03 21:49] mateusjunges commented on #139
Hey @cmsedore what `laravel`kafka` version are you using? I tried your code here and it works fine, I'm unable to reproduce this error. Please provide more context so I can actually help you.

[2022-09-03 22:08] #135 closed

[2022-09-04 13:50] cmsedore commented on #139
I'm on 1.8 -- I removed and reinstalled the package and things seem to work fine now.  Sorry for the false alarm.

[2022-09-04 13:50] #139 closed

[2022-09-05 08:41] tharyono commented on #138
Hi @mateusjunges I want to do manual commit after I make sure all processes in my consumer has been proceed successfully. Because right now, if something wrong happen (eg. error happen when insert data to database), the message is consumed, and I cannot reprocess it again.

[2022-09-23 13:06] jchambondynadmic opened #141 "[BUG] `handleBatch` timer issue"
Hi, I noticed a little problem with batch consuming messages.

Let's say I have a topic full of hundreds of messages, and I want to consume by batches of 20 messages.
What happens : the consumer reads 20 messages, and then 1, then 20, then 1, then 20, 1, 20, 1, etc
It would be better to try to have 20, 20, 20, 20, 20 etc (assuming we can get 20 before timeout of the batch).

The problem is here :

[2022-09-24 20:46] mateusjunges commented on #141
Hey @jchambondynadmic I'll take a look at this, thank you for reporting 🙂

[2022-09-28 21:59] mateusjunges commented on #141
Hey @jchambondynadmic can you please try the code in this commit? https://github.com/mateusjunges/laravel-kafka/commit/5bb0a39601d2eeaad6d845e485b0c8d278538de1

[2022-09-29 10:39] eusonlito opened #142 "[QUESTION] Consumer not working with stopAfterLastMessage enabled"
I have this code in a Laravel Command:

[code]

This command is executed in a cronjob every minute.

The problem is that never read any message from kafka, the pending queue offset is always in same position.

If I remove the `stopAfterLastMessage` option, the command will be executed without stop and then they can read the messages without problem.

[code]

My config is:

[code]
Any idea why can

[2022-09-30 07:19] jchambondynadmic commented on #141
Hey @mateusjunges,

Unfo it'll not works like that.
Because nothing ensure your match() will always have a matching case. So it leads to an UnhandledMatchError "Unhandled match case true".

It would require a default value or use something else than "match"
![image](https://user-images.githubusercontent.com/45685587/193213567-307b159d-26ce-4e04-9c50-36177194d157.png)

[2022-09-30 13:55] mateusjunges commented on #141
Yeah I forgot to add the default value. Can you pls add a `default => null` and try one more time? I’ll update the code when I get back home in a few hours 🙂

[2022-09-30 14:15] jchambondynadmic commented on #141
It works perfectly with a default => null 🙂

[2022-10-04 09:14] DevHeaven opened #144 "Exception when using enableBatching()"
I've been trying to implement batch processing, but can't seem to get it right.
I've used the example in the docs, and still I get an exception each time.

**Exception**
`Junges\Kafka\Config\BatchConfig::__construct(): Argument #3 ($batchRepository) must be of type Junges\Kafka\Contracts\BatchRepository, Illuminate\Foundation\Application given, called in C:\LARAVEL\myproject\src\vendor\mateusjunge

[2022-10-04 10:01] DevHeaven commented on #144
Solved, my apologies. You can delete the issue all together.

[2022-10-04 10:01] #144 closed

[2022-10-04 21:58] mateusjunges commented on #141
@jchambondynadmic fixed and released on v1.8.9 🙂

[2022-10-04 21:58] #141 closed

[2022-10-05 13:54] TigoCoinmerce opened #145 "[QUESTION] Health check when the consumer can start consuming"
Hello!

I am trying to figure out if a healthcheck can be configured or added.

When I start the consumer in our kubernetes cluster it takes a solid 30 seconds for the consumer to start consuming and I want to see if I can add a healthcheck so I can keep the old consumers running until the new one can actually start consuming. This would prevent having message lag when updating our consumers

Is t

[2022-10-13 07:48] ValerianMemsk opened #146 "[QUESTION]Connection to kafka issues"
First time working with Kafka. Trying to read messages from certain topics
Configured laravel .env like:
[code]

build consumer like:

[code]

tried to make it like

[code]

 but id didnt work also
 I am certain that kafka link and topics are correct, and do not understand why nothing working
 As i can see in error tray

[code]
So it tries to find smt in */bootstrap* folder.
But as far as i know t

[2022-10-13 23:30] mateusjunges commented on #145
Hey @TigoCoinmerce TBH I've never needed this. I'll think about it and get back to you :slightly_smiling_face:

[2022-10-14 11:28] joaoccmatos opened #147 "[QUESTION] Consumer connecting to a Broker that is not available - exception/error"
From what I could find whenever the broker is down, consumer will log the following messages:

`%3|1665746426.651|FAIL|rdkafka#producer-2| [thrd:ssl://broker:9092/bootstrap]: ssl://broker:9092/bootstrap: Failed to resolve 'broker:9092': No address associated with hostname (after 3ms in state CONNECT)
%3|1665746426.651|ERROR|rdkafka#producer-2| [thrd:ssl://broker:9092/bootstrap]: 1/1 brokers are do

[2022-10-14 13:02] TigoCoinmerce commented on #145
Hello! The healthcheck would be amazing! But the problem with the 30 second delay is solved.

[2022-10-18 12:31] #146 closed

[2022-10-26 14:32] rafaelzorn opened #149 "[QUESTION] Flush returned with error code -185: 'Local: Timed out'"
Hello there,

I am using a docker-compose file to have a local Kafka container.

docker-compose:

![docker compose](https://user-images.githubusercontent.com/5214432/198052783-9e667c84-9b97-429c-886a-48d79fc19655.PNG)

This is my code to do some tests

![Kafka Message](https://user-images.githubusercontent.com/5214432/198054342-4a1053e0-a1b0-46e9-8728-8b14c92ace8c.PNG)

It seems that I always get

[2022-11-02 18:20] mateusjunges commented on #149
Hey @rafaelzorn can you add your full dockerfile as text here so I can try to reproduce it?

[2022-11-02 18:42] mateusjunges commented on #147
Hey @joaoccmatos this logs comes from the rdkafka library, I don't think there's an easy way to intercept it

[2022-11-02 18:43] mateusjunges commented on #145
Hey @TigoCoinmerce do you mind telling me what was the problem with the 30 second delay?

[2022-11-02 19:09] TigoCoinmerce commented on #145
Yes, we are using Kubernetes and the package does not respond to the `SIGTERM` signal by default. This caused our pods to be killed by the cluster because they were not terminating. And since our grace period is 30 seconds at the time of discovering. The new ones would not start consuming until the other ones were force killed and the kafka cluster booted them from the consumer group.

[2022-11-03 20:55] deegital commented on #138
I kinda had the same requirements not to commit the offset if an exception was thrown in my handler did this using a custom CommiterFactory added during building the consumer. I was a bit confused about that existing $success parameter, which wasn't used in the existing committer implementations.

[code]

example factory implementation:
[code]

example committer implementation:
[code]

[2022-11-04 07:16] minhchau2605 opened #153 "[QUESTION] Call to undefined function Junges\Kafka\Consumers\resolve()"
I'm use lumen v9.38.9, php v8.1, mateusjunges/laravel-kafka v1.9.1.
Below is my code in command file. After run command, have exception error.

![image](https://user-images.githubusercontent.com/27195377/199914744-6291fc6b-deab-46fa-aa9a-f3cad8351a39.png)

    /**
     * The name and signature of the console command.
     *
     * @var string
     */
    protected $signature = 'statistic:user-tran

[2022-11-04 17:26] mateusjunges commented on #153
Hey @minhchau2605 unfortunately this package does not support lumen. I recommend that you switch to laravel, as even the laravel team itself no longer recommend using lumen:

https://lumen.laravel.com/docs/9.x

[2022-11-04 17:26] #153 closed

[2022-11-04 17:33] samushi opened #154 "[QUESTION] Laravel 8 & PHP 7.4"
I need to use this package in Laravel 8 and PHP 7.4, does this package support it

[2022-11-04 17:44] mateusjunges commented on #154
Hi @samushi, no, it requires at least PHP 8, and soon I'll update it to 8.1 (#152)

[2022-11-04 17:44] #154 closed

[2022-11-07 17:16] rafaelzorn commented on #149
Hello @mateusjunges the problem was in my **docker-compose**. Thank's for your time!!!

[2022-11-07 17:17] #149 closed

[2022-11-08 19:30] mateusjunges commented on #138
Hey @tharyono I added a example to the docs. Pls let me know if it helps :slightly_smiling_face:

https://junges.dev/documentation/laravel-kafka/v1.9/advanced-usage/4-custom-committers

[2022-11-22 17:39] joanorrit opened #155 "[QUESTION] Milliseconds retry parameter not being set when calling flush."
Hello,

First of all, thanks for the hard work with a very simple-to-use package! I've had a bit of an issue where some Kafka messages were getting lost. I was using the `send` method in your ProducerBuilder class:

[code]

Since I was producing lots of messages, I changed my code to use the `sendBatch` method, which fixed my issue and everything worked smoothly after.

After that, I dug into the

[2022-11-26 03:51] mateusjunges commented on #155
Hey @joanorrit sorry for the late reply, but I'm having a really bush week 😅
I think the `sleepMiliseconds` makes sense here. Have you tested it with some specific number? TBH I have not faced this issue before so I'm not exactly sure what would be the best choice here.

[2022-11-26 19:01] joanorrit commented on #155
Hi @mateusjunges, no worries at all!
I tested it on my end with 500 milliseconds and it did the trick for me. But is difficult to come up with a number that works for everyone. I believe, the ideal would be to default it to a small number (100 milliseconds) and then add some configuration so each user can configure it to their needs.
But this might be a bit overengineered and if it has to make you

[2022-11-27 21:44] mateusjunges commented on #155
Yeah that's what I had in mind. I'll open a PR tomorrow. Thanks!

[2022-11-29 22:17] #155 closed

[2022-11-29 22:21] mateusjunges commented on #155
Hey @joanorrit should be fixed now.

You must add the `flush_retry_sleep_in_ms` key to your `config/kafka.php` file and configure it to the desired amount of time (in ms).

[2022-11-30 00:35] joanorrit commented on #155
Hey, this looks great @mateusjunges! Thanks for the quick fix 😄 . Going to make use of this handy config variable!